THE_REGION=ap-northeast-1
STAGE=dev
ACCOUNT_ID=123456789012

# database
DB_HOST=localhost
DB_PORT=5432
DB_NAME=postgres
DB_USER=user
DB_PASSWORD=pass
DB_SCHEMA=public

# dynamodb
DYNAMODB_TABLE_ACCOUNTS=dev_x_career_auth_accounts


# frontend
FRONTEND_HOSTNAME=http://localhost:3000
FRONTEND_URL_PATH_EMAIL_VERIFIED=/auth/email-verified
FRONTEND_URL_PATH_RESET_PASSWORD=/auth/password-reset
FRONTEND_TOKEN=

# email
SITE_TITLE=X-Career

# aws ses email (optional for basic testing)
EMAIL_SENDER=
